
@import url('https://fonts.googleapis.com/css?family=Kalam:700');

body {
  background-color: #B9C6AE;

}

.pickPlayer {
  margin-left: 60px;
}

.gameWinner {
  background-color: #8A95A5;
}

.gameTie {
  background-color: yellow;
}

button {
  margin: 15px;
  padding: 10px;
  color: white;
  background-color: blue;
}

.container {
  padding: 20px
}

.box {
  border: 2px solid #000;
  width: 75px;
  height: 75px;
  display:inline-block;
  /* margin: 0em; */
  line-height: 100px;
/* position: static; */
/* vertical-align: text-top; */
  font-size: 55px;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Kalam', cursive;
  background-color: #8A95A5;

}

h4 {

}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  font-family: 'Kalam', cursive;
}
/* .xo {
  text-align: center;
  line-height: 35px;
} */

.box:hover {
  background-color: #474056;
  opacity: .5;
}


.grid {
  margin-left: 35px;
}

.reset {
  margin-left: 115px;
}

.winner {
  margin-left: 5px;
}

.pageReload {
  text-decoration: underline;
  padding-left: 50px;
}
